node-red/flows_cl-controller.json
[{"id":"a775a5b.b12bf58","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"8a7a27a4.0f8c38","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"dc402d99.ace21","type":"tab","label":"Flow 1"},{"id":"f25e104b.6303e","type":"http in","z":"a775a5b.b12bf58","name":"opi0cluster","url":"/opi0cluster","method":"get","upload":false,"swaggerDoc":"","x":60,"y":40,"wires":[["c02468ac.34bdf8"]]},{"id":"c02468ac.34bdf8","type":"function","z":"a775a5b.b12bf58","name":"","func":"function getNow(){\n    var d = new Date();\n    var n = d.getTime();\n    return n;    \n}\nvar timeoutdelayseconds =60;\nvar now = getNow();\nmsg.payload.fun = \"\";\n\n//take care of globals so we can work with locals\n    lTable = global.get(\"table\");\n    \n    if (lTable === undefined){\n        msg.payload.fun += \"undefined \";\n        lTable = [];\n        for (var i=0;i<255;i=i+1){\n            lTable[i] = {\"position\":i,\"mac\":\"default\",\"timeout\":now};\n        }\n        global.set(\"table\", lTable);\n    }else{\n        msg.payload.fun += \"defined \";\n    }\n    \nvar lTable = global.get(\"table\");\nvar use =0;\n\nif (msg.payload.register.includes(\"Controller\")){\n    use=0;    \n}else{\n    for (var i=1;i<255;i=i+1){\n        if (lTable[i].mac == msg.payload.register){\n             if (use == 0){use = i;}\n            lTable[i].mac= \"default1\";\n            lTable[i].timeout =\"0\";\n            //msg.payload.fun += \"already registered \";\n            //break;\n        }\n        if (lTable[i].timeout <= getNow()){\n            if (use == 0){use = i;}\n            //lTable[i].mac= \"default2\";\n            //lTable[i].timeout =\"0\";\n            lTable[i]= {};\n            lTable[i].position = i;\n            //break;\n        }\n        \n    }\n}\nlTable[use].timeout = getNow()+(1000*timeoutdelayseconds);\nlTable[use].timeleft = lTable[use].timeout- getNow();\nlTable[use].mac = msg.payload.register;\nlTable[use].khash = msg.payload.khash;\nlTable[use].timekhash = getNow();\n\nglobal.set(\"table\", lTable);\n        \nmsg.payload.number = lTable[use].position;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":80,"wires":[["c4a74422.f6d478","169919ec.4dc2e6"]]},{"id":"c4a74422.f6d478","type":"http response","z":"a775a5b.b12bf58","name":"","statusCode":"","headers":{},"x":370,"y":60,"wires":[]},{"id":"169919ec.4dc2e6","type":"debug","z":"a775a5b.b12bf58","name":"","active":true,"console":"false","complete":"payload","x":210,"y":140,"wires":[]},{"id":"6cd1079b.915798","type":"http in","z":"a775a5b.b12bf58","name":"","url":"/monitor","method":"get","upload":false,"swaggerDoc":"","x":70,"y":220,"wires":[["6ba465ec.eef2cc"]]},{"id":"5d16ba00.7a2428","type":"http response","z":"a775a5b.b12bf58","name":"","statusCode":"","headers":{},"x":470,"y":220,"wires":[]},{"id":"eae6efe7.6c184","type":"function","z":"a775a5b.b12bf58","name":"","func":"function getNow(){\n    var d = new Date();\n    var n = d.getTime();\n    return n;    \n}\n\nlTable = global.get(\"table\");\n\nif (lTable === undefined){\n    msg.payload.fun = \"undefined\"; \n}else{\n    msg.payload.table = global.get(\"table\"); \n}\n\nfor (var i=0;i<255;i=i+1){\n    if (lTable[i].mac==\"default\"){\n        break;\n    }\n    lTable[i].timeleft =Math.round((lTable[i].timeout-getNow())/1000);\n    lTable[i].howoldkhash =Math.round((lTable[i].timekhash-getNow())/1000);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":600,"wires":[["84fcc550.47d8f8"]]},{"id":"5a92a192.ba73f","type":"debug","z":"a775a5b.b12bf58","name":"","active":true,"console":"false","complete":"false","x":610,"y":320,"wires":[]},{"id":"6ba465ec.eef2cc","type":"template","z":"a775a5b.b12bf58","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<HTML>\n<script type=\"text/javascript\" src=\"https://files.coinmarketcap.com/static/widget/currency.js\"></script>\n\n<div id=\"ticker\" class=\"coinmarketcap-currency-widget\" data-currency=\"magi\" data-base=\"USD\"  data-secondary=\"BTC\"></div>\n\n<div>\n<div id=\"clustersBase\" style=\"float: left;\">test</div>\n<div id=\"graphBase\" style=\"float: right;width: 50%;height: 100%\">test</div>\n</div>\n    \n    <script>\n\n\nfunction update(base){\n    var req = new XMLHttpRequest();\n    req.onreadystatechange = function () {\n        //console.log ( \"-\" += req.readyState += \"-\" & req.status+=\"-\"+=req.responseText);\n        if (req.readyState != 4 || req.status != 200) return;\n        document.getElementById(base.concat(\"Base\")).innerHTML = req.response;\n    };\n\n    req.open(\"GET\", \"http://192.168.1.19:1880/\".concat(base,\"Base\"), true);\n    req.send();\n}\ntof = function(){\n    update(\"clusters\");\n    update(\"graph\");\n    setTimeout(tof, 5/60*60*1000);\n    //window.location.reload(1);\n}\ntof();\n//setTimeout(tof, 30/60*60*1000);\n\n</script>\n</HTML>","output":"str","x":350,"y":220,"wires":[["5d16ba00.7a2428"]]},{"id":"19b46301.8b17dd","type":"function","z":"a775a5b.b12bf58","name":"getNow","func":"function getNow(){\n    var d = new Date();\n    var n = d.getTime();\n    return n;    \n}","outputs":1,"noerr":0,"x":149.16668701171875,"y":496,"wires":[[]]},{"id":"cba4d84.345ae28","type":"http in","z":"a775a5b.b12bf58","name":"","url":"/log","method":"get","upload":false,"swaggerDoc":"","x":63.16667175292969,"y":311.3333435058594,"wires":[["8d3acaee.6e11d8"]]},{"id":"8d3acaee.6e11d8","type":"function","z":"a775a5b.b12bf58","name":"","func":"msg.payload.result = \"ok\";\n\n//msg = new Buffer('hello world', 'utf8');\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":360,"wires":[["c04b50c.efb43b","c6426b9b.7f64f8","df5e05be.df0f98"]]},{"id":"c04b50c.efb43b","type":"http response","z":"a775a5b.b12bf58","name":"","statusCode":"","headers":{},"x":410,"y":360,"wires":[]},{"id":"e3f8f6f5.d704e8","type":"debug","z":"a775a5b.b12bf58","name":"LOG","active":true,"console":"false","complete":"payload","x":390,"y":480,"wires":[]},{"id":"c6426b9b.7f64f8","type":"file","z":"a775a5b.b12bf58","name":"","filename":"/node-red-log.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":450,"y":400,"wires":[]},{"id":"df5e05be.df0f98","type":"function","z":"a775a5b.b12bf58","name":"","func":"msg.payload.date=Date();\nreturn msg;","outputs":1,"noerr":0,"x":171.16668701171875,"y":432,"wires":[["e3f8f6f5.d704e8"]]},{"id":"535220f1.0fba2","type":"http in","z":"a775a5b.b12bf58","name":"","url":"/clustersBase","method":"get","upload":false,"swaggerDoc":"","x":110,"y":600,"wires":[["eae6efe7.6c184"]]},{"id":"f5baef97.2297e","type":"http response","z":"a775a5b.b12bf58","name":"","statusCode":"","headers":{},"x":510,"y":600,"wires":[]},{"id":"9c558f23.851fd","type":"debug","z":"a775a5b.b12bf58","name":"temp","active":true,"console":"false","complete":"payload","x":430,"y":1040,"wires":[]},{"id":"84fcc550.47d8f8","type":"template","z":"a775a5b.b12bf58","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table border=\"1px\">\n    {{#payload.table}}\n    <tr>\n    <td>{{position}}</td>\n        <td>{{khash}}</td>\n            <td>{{mac}}</td>\n                <td>{{timeleft}}</td>\n                    <td>{{howoldkhash}}</td>\n    </tr>\n    {{/payload.table}}\n    </table>","output":"str","x":390,"y":600,"wires":[["f5baef97.2297e"]]},{"id":"7935bad3.453b44","type":"inject","z":"a775a5b.b12bf58","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":107.16667175292969,"y":1041.3333740234375,"wires":[["d6387c76.2f01a"]]},{"id":"d6387c76.2f01a","type":"http request","z":"a775a5b.b12bf58","name":"","method":"GET","ret":"obj","url":"https://api.coinmarketcap.com/v1/ticker/magi/","tls":"","x":270,"y":1040,"wires":[["9c558f23.851fd","ca587e99.b0d36"]]},{"id":"ca587e99.b0d36","type":"file","z":"a775a5b.b12bf58","name":"","filename":"/XMGHistory.json.cvs","appendNewline":true,"createDir":false,"overwriteFile":"false","x":489.16668701171875,"y":1128.666748046875,"wires":[]},{"id":"d03c606.a6c6aa","type":"function","z":"a775a5b.b12bf58","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":301.16668701171875,"y":732,"wires":[["569b246e.6543ac"]]},{"id":"569b246e.6543ac","type":"template","z":"a775a5b.b12bf58","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div id=\"yo\" style=\"width:  100%;height:  100%\"></div>\n<script src=\"https://www.gstatic.com/charts/loader.js\">\ngoogle.charts.load('44', {\n  callback: drawBackgroundColor,\n  packages: ['corechart']\n});\n\nfunction drawBackgroundColor() {\n  var c = [\n    [new Date('3/16/2016'), 3],\n    [new Date('3/17/2016'), 5],\n    [new Date('3/18/2016'), 7],\n    [new Date('3/19/2016'), 9],\n  ];\n\n  var data = new google.visualization.DataTable();\n  data.addColumn('date', 'Date');\n  data.addColumn('number', 'Distance');\n\n  data.addRows(c);\n\n  var options = {\n    hAxis: {\n      title: 'Time'\n    },\n    vAxis: {\n      title: 'Popularity'\n    },\n    backgroundColor: '#f1f8e9'\n  };\n\n  var chart = new google.visualization.LineChart(document.getElementById('yo'));\n  chart.draw(data, options);\n}\n</script>\n\n","output":"str","x":477.16668701171875,"y":734,"wires":[["7e530da3.89b184"]]},{"id":"814ab8d2.549ca8","type":"http in","z":"a775a5b.b12bf58","name":"","url":"/graphBase","method":"get","upload":false,"swaggerDoc":"","x":115.16667175292969,"y":739.3333740234375,"wires":[["d03c606.a6c6aa"]]},{"id":"7e530da3.89b184","type":"http response","z":"a775a5b.b12bf58","name":"","statusCode":"","headers":{},"x":657.1666870117188,"y":738.6666870117188,"wires":[]},{"id":"4a4c0052.978e7","type":"http in","z":"8a7a27a4.0f8c38","name":"opi0cluster","url":"/opi0cluster","method":"get","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["ff4d3cc2.848a8"]]},{"id":"ff4d3cc2.848a8","type":"function","z":"8a7a27a4.0f8c38","name":"","func":"function getNow(){\n    var d = new Date();\n    var n = d.getTime();\n    return n;    \n}\nvar timeoutdelayseconds =60;\nvar now = getNow();\nmsg.payload.fun = \"\";\n\n//take care of globals so we can work with locals\n    lTable = global.get(\"table\");\n    \n    if (lTable === undefined){\n        msg.payload.fun += \"undefined \";\n        lTable = [];\n        for (var i=0;i<255;i=i+1){\n            lTable[i] = {\"position\":i,\"mac\":\"default\",\"timeout\":now};\n        }\n        global.set(\"table\", lTable);\n    }else{\n        msg.payload.fun += \"defined \";\n    }\n    \nvar lTable = global.get(\"table\");\nvar use =0;\n\nif (msg.payload.register.includes(\"Controller\")){\n    use=0;    \n}else{\n    for (var i=1;i<255;i=i+1){\n        if (lTable[i].mac == msg.payload.register){\n             if (use == 0){use = i;}\n            lTable[i].mac= \"default1\";\n            lTable[i].timeout =\"0\";\n            //msg.payload.fun += \"already registered \";\n            //break;\n        }\n        if (lTable[i].timeout <= getNow()){\n            if (use == 0){use = i;}\n            //lTable[i].mac= \"default2\";\n            //lTable[i].timeout =\"0\";\n            lTable[i]= {};\n            lTable[i].position = i;\n            //break;\n        }\n        \n    }\n}\nlTable[use].timeout = getNow()+(1000*timeoutdelayseconds);\nlTable[use].timeleft = lTable[use].timeout- getNow();\nlTable[use].mac = msg.payload.register;\nlTable[use].khash = msg.payload.khash;\nlTable[use].timekhash = getNow();\n\nglobal.set(\"table\", lTable);\n        \nmsg.payload.number = lTable[use].position;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["b09c0403.c57db8","b4152dfb.591e6"]]},{"id":"b09c0403.c57db8","type":"http response","z":"8a7a27a4.0f8c38","name":"","statusCode":"","headers":{},"x":430,"y":80,"wires":[]},{"id":"b4152dfb.591e6","type":"debug","z":"8a7a27a4.0f8c38","name":"","active":true,"console":"false","complete":"payload","x":270,"y":160,"wires":[]},{"id":"7148a3ce.cba80c","type":"http in","z":"8a7a27a4.0f8c38","name":"","url":"/monitor","method":"get","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["509e0f38.8317a"]]},{"id":"c2b921e2.da844","type":"http response","z":"8a7a27a4.0f8c38","name":"","statusCode":"","headers":{},"x":530,"y":240,"wires":[]},{"id":"e62320c6.facea","type":"function","z":"8a7a27a4.0f8c38","name":"","func":"function getNow(){\n    var d = new Date();\n    var n = d.getTime();\n    return n;    \n}\n\nlTable = global.get(\"table\");\n\nif (lTable === undefined){\n    msg.payload.fun = \"undefined\"; \n}else{\n    msg.payload.table = global.get(\"table\"); \n}\n\nfor (var i=0;i<255;i=i+1){\n    if (lTable[i].mac==\"default\"){\n        break;\n    }\n    lTable[i].timeleft =Math.round((lTable[i].timeout-getNow())/1000);\n    lTable[i].howoldkhash =Math.round((lTable[i].timekhash-getNow())/1000);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["569c574c.cb8d08"]]},{"id":"cea04314.a3d4f","type":"debug","z":"8a7a27a4.0f8c38","name":"","active":true,"console":"false","complete":"false","x":670,"y":340,"wires":[]},{"id":"509e0f38.8317a","type":"template","z":"8a7a27a4.0f8c38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<HTML>\n<script type=\"text/javascript\" src=\"https://files.coinmarketcap.com/static/widget/currency.js\"></script>\n\n<div id=\"ticker\" class=\"coinmarketcap-currency-widget\" data-currency=\"magi\" data-base=\"USD\"  data-secondary=\"BTC\"></div>\n\n<div>\n<div id=\"clustersBase\" style=\"float: left;\">test</div>\n<div id=\"graphBase\" style=\"float: right;width: 50%;height: 100%\">test</div>\n</div>\n    \n    <script>\n\n\nfunction update(base){\n    var req = new XMLHttpRequest();\n    req.onreadystatechange = function () {\n        //console.log ( \"-\" += req.readyState += \"-\" & req.status+=\"-\"+=req.responseText);\n        if (req.readyState != 4 || req.status != 200) return;\n        document.getElementById(base.concat(\"Base\")).innerHTML = req.response;\n    };\n\n    req.open(\"GET\", \"http://192.168.1.19:1880/\".concat(base,\"Base\"), true);\n    req.send();\n}\ntof = function(){\n    update(\"clusters\");\n    update(\"graph\");\n    setTimeout(tof, 5/60*60*1000);\n    //window.location.reload(1);\n}\ntof();\n//setTimeout(tof, 30/60*60*1000);\n\n</script>\n</HTML>","output":"str","x":410,"y":240,"wires":[["c2b921e2.da844"]]},{"id":"5de23a3f.4133e4","type":"function","z":"8a7a27a4.0f8c38","name":"getNow","func":"function getNow(){\n    var d = new Date();\n    var n = d.getTime();\n    return n;    \n}","outputs":1,"noerr":0,"x":209.16668701171875,"y":516,"wires":[[]]},{"id":"13f651ee.602e3e","type":"http in","z":"8a7a27a4.0f8c38","name":"","url":"/log","method":"get","upload":false,"swaggerDoc":"","x":123.16667175292969,"y":331.3333435058594,"wires":[["7961a77a.3abc78"]]},{"id":"7961a77a.3abc78","type":"function","z":"8a7a27a4.0f8c38","name":"","func":"msg.payload.result = \"ok\";\n\n//msg = new Buffer('hello world', 'utf8');\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":380,"wires":[["6ca7a3c3.25b80c","975db98.fc2cb48","47f9583b.ef0178"]]},{"id":"6ca7a3c3.25b80c","type":"http response","z":"8a7a27a4.0f8c38","name":"","statusCode":"","headers":{},"x":470,"y":380,"wires":[]},{"id":"66810ae5.ed05a4","type":"debug","z":"8a7a27a4.0f8c38","name":"LOG","active":true,"console":"false","complete":"payload","x":450,"y":500,"wires":[]},{"id":"975db98.fc2cb48","type":"file","z":"8a7a27a4.0f8c38","name":"","filename":"/node-red-log.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":510,"y":420,"wires":[]},{"id":"47f9583b.ef0178","type":"function","z":"8a7a27a4.0f8c38","name":"","func":"msg.payload.date=Date();\nreturn msg;","outputs":1,"noerr":0,"x":231.16668701171875,"y":452,"wires":[["66810ae5.ed05a4"]]},{"id":"4871a5e4.e0f73c","type":"http in","z":"8a7a27a4.0f8c38","name":"","url":"/clustersBase","method":"get","upload":false,"swaggerDoc":"","x":170,"y":620,"wires":[["e62320c6.facea"]]},{"id":"2de414a5.c3cdbc","type":"http response","z":"8a7a27a4.0f8c38","name":"","statusCode":"","headers":{},"x":570,"y":620,"wires":[]},{"id":"a6908f86.bf2e9","type":"debug","z":"8a7a27a4.0f8c38","name":"temp","active":true,"console":"false","complete":"payload","x":490,"y":1060,"wires":[]},{"id":"569c574c.cb8d08","type":"template","z":"8a7a27a4.0f8c38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table border=\"1px\">\n    {{#payload.table}}\n    <tr>\n    <td>{{position}}</td>\n        <td>{{khash}}</td>\n            <td>{{mac}}</td>\n                <td>{{timeleft}}</td>\n                    <td>{{howoldkhash}}</td>\n    </tr>\n    {{/payload.table}}\n    </table>","output":"str","x":450,"y":620,"wires":[["2de414a5.c3cdbc"]]},{"id":"2ff9f10c.a2db1e","type":"inject","z":"8a7a27a4.0f8c38","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":167.1666717529297,"y":1061.3333740234375,"wires":[["e5ae5022.b259e"]]},{"id":"e5ae5022.b259e","type":"http request","z":"8a7a27a4.0f8c38","name":"","method":"GET","ret":"obj","url":"https://api.coinmarketcap.com/v1/ticker/magi/","tls":"","x":330,"y":1060,"wires":[["a6908f86.bf2e9","b758f1fe.9d9c6"]]},{"id":"b758f1fe.9d9c6","type":"file","z":"8a7a27a4.0f8c38","name":"","filename":"/XMGHistory.json.cvs","appendNewline":true,"createDir":false,"overwriteFile":"false","x":549.1666870117188,"y":1148.666748046875,"wires":[]},{"id":"d89b4e0d.e90bd","type":"function","z":"8a7a27a4.0f8c38","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":361.16668701171875,"y":752,"wires":[["7a5e4cb.01b71b4"]]},{"id":"7a5e4cb.01b71b4","type":"template","z":"8a7a27a4.0f8c38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div id=\"yo\" style=\"width:  100%;height:  100%\"></div>\n<script src=\"https://www.gstatic.com/charts/loader.js\">\ngoogle.charts.load('44', {\n  callback: drawBackgroundColor,\n  packages: ['corechart']\n});\n\nfunction drawBackgroundColor() {\n  var c = [\n    [new Date('3/16/2016'), 3],\n    [new Date('3/17/2016'), 5],\n    [new Date('3/18/2016'), 7],\n    [new Date('3/19/2016'), 9],\n  ];\n\n  var data = new google.visualization.DataTable();\n  data.addColumn('date', 'Date');\n  data.addColumn('number', 'Distance');\n\n  data.addRows(c);\n\n  var options = {\n    hAxis: {\n      title: 'Time'\n    },\n    vAxis: {\n      title: 'Popularity'\n    },\n    backgroundColor: '#f1f8e9'\n  };\n\n  var chart = new google.visualization.LineChart(document.getElementById('yo'));\n  chart.draw(data, options);\n}\n</script>\n\n","output":"str","x":537.1666870117188,"y":754,"wires":[["e29c7a43.bfe248"]]},{"id":"4ce9468.07c6ab8","type":"http in","z":"8a7a27a4.0f8c38","name":"","url":"/graphBase","method":"get","upload":false,"swaggerDoc":"","x":175.1666717529297,"y":759.3333740234375,"wires":[["d89b4e0d.e90bd"]]},{"id":"e29c7a43.bfe248","type":"http response","z":"8a7a27a4.0f8c38","name":"","statusCode":"","headers":{},"x":717.1666870117188,"y":758.6666870117188,"wires":[]},{"id":"34ffa4b9.a63bfc","type":"http in","z":"dc402d99.ace21","name":"opi0cluster","url":"/opi0cluster","method":"get","upload":false,"swaggerDoc":"","x":60,"y":40,"wires":[["56c2e3a8.5cbecc"]]},{"id":"56c2e3a8.5cbecc","type":"function","z":"dc402d99.ace21","name":"","func":"function getNow(){\n    var d = new Date();\n    var n = d.getTime();\n    return n;    \n}\nvar timeoutdelayseconds =60;\nvar now = getNow();\nmsg.payload.fun = \"\";\n\n//take care of globals so we can work with locals\n    lTable = global.get(\"table\");\n    \n    if (lTable === undefined){\n        msg.payload.fun += \"undefined \";\n        lTable = [];\n        for (var i=0;i<255;i=i+1){\n            lTable[i] = {\"position\":i,\"mac\":\"default\",\"timeout\":now};\n        }\n        global.set(\"table\", lTable);\n    }else{\n        msg.payload.fun += \"defined \";\n    }\n    \nvar lTable = global.get(\"table\");\nvar use =0;\n\nif (msg.payload.register.includes(\"Controller\")){\n    use=0;    \n}else{\n    for (var i=1;i<255;i=i+1){\n        if (lTable[i].mac == msg.payload.register){\n             if (use == 0){use = i;}\n            lTable[i].mac= \"default1\";\n            lTable[i].timeout =\"0\";\n            //msg.payload.fun += \"already registered \";\n            //break;\n        }\n        if (lTable[i].timeout <= getNow()){\n            if (use == 0){use = i;}\n            //lTable[i].mac= \"default2\";\n            //lTable[i].timeout =\"0\";\n            lTable[i]= {};\n            lTable[i].position = i;\n            //break;\n        }\n        \n    }\n}\nlTable[use].timeout = getNow()+(1000*timeoutdelayseconds);\nlTable[use].timeleft = lTable[use].timeout- getNow();\nlTable[use].mac = msg.payload.register;\nlTable[use].khash = msg.payload.khash;\nlTable[use].timekhash = getNow();\n\nglobal.set(\"table\", lTable);\n        \nmsg.payload.number = lTable[use].position;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":80,"wires":[["e7e8a1b0.1a2c9","538c2688.db8758"]]},{"id":"e7e8a1b0.1a2c9","type":"http response","z":"dc402d99.ace21","name":"","statusCode":"","headers":{},"x":370,"y":60,"wires":[]},{"id":"538c2688.db8758","type":"debug","z":"dc402d99.ace21","name":"","active":true,"console":"false","complete":"payload","x":210,"y":140,"wires":[]},{"id":"a5fb6978.345b58","type":"http in","z":"dc402d99.ace21","name":"","url":"/monitor","method":"get","upload":false,"swaggerDoc":"","x":70,"y":220,"wires":[["f383c7e0.096028"]]},{"id":"79c33cd8.c376c4","type":"http response","z":"dc402d99.ace21","name":"","statusCode":"","headers":{},"x":470,"y":220,"wires":[]},{"id":"a06b765f.fdd9e8","type":"function","z":"dc402d99.ace21","name":"","func":"function getNow(){\n    var d = new Date();\n    var n = d.getTime();\n    return n;    \n}\n\nlTable = global.get(\"table\");\n\nif (lTable === undefined){\n    msg.payload.fun = \"undefined\"; \n}else{\n    msg.payload.table = global.get(\"table\"); \n}\n\nfor (var i=0;i<255;i=i+1){\n    if (lTable[i].mac==\"default\"){\n        break;\n    }\n    lTable[i].timeleft =Math.round((lTable[i].timeout-getNow())/1000);\n    lTable[i].howoldkhash =Math.round((lTable[i].timekhash-getNow())/1000);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":600,"wires":[["a830226a.423e9"]]},{"id":"7f08e6cc.a955b8","type":"debug","z":"dc402d99.ace21","name":"","active":true,"console":"false","complete":"false","x":775.0000076293945,"y":213.00000381469727,"wires":[]},{"id":"f383c7e0.096028","type":"template","z":"dc402d99.ace21","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<HTML>\n<script type=\"text/javascript\" src=\"https://files.coinmarketcap.com/static/widget/currency.js\"></script>\n\n<div id=\"ticker\" class=\"coinmarketcap-currency-widget\" data-currency=\"magi\" data-base=\"USD\"  data-secondary=\"BTC\"></div>\n\n<div>\n<div id=\"clustersBase\" style=\"float: left;\">test</div>\n<div id=\"graphBase\" style=\"float: right;width: 50%;height: 100%\">test</div>\n</div>\n    \n    <script>\n\n\nfunction update(base){\n    var req = new XMLHttpRequest();\n    req.onreadystatechange = function () {\n        //console.log ( \"-\" += req.readyState += \"-\" & req.status+=\"-\"+=req.responseText);\n        if (req.readyState != 4 || req.status != 200) return;\n        document.getElementById(base.concat(\"Base\")).innerHTML = req.response;\n    };\n\n    req.open(\"GET\", \"http://192.168.1.19:1880/\".concat(base,\"Base\"), true);\n    req.send();\n}\ntof = function(){\n    update(\"clusters\");\n    update(\"graph\");\n    setTimeout(tof, 5/60*60*1000);\n    //window.location.reload(1);\n}\ntof();\n//setTimeout(tof, 30/60*60*1000);\n\n</script>\n</HTML>","output":"str","x":350,"y":220,"wires":[["79c33cd8.c376c4"]]},{"id":"40fdcfa3.8bd49","type":"function","z":"dc402d99.ace21","name":"getNow","func":"function getNow(){\n    var d = new Date();\n    var n = d.getTime();\n    return n;    \n}","outputs":1,"noerr":0,"x":149.16668701171875,"y":496,"wires":[[]]},{"id":"e6fe78b.b21b788","type":"http in","z":"dc402d99.ace21","name":"","url":"/log","method":"get","upload":false,"swaggerDoc":"","x":63.16667175292969,"y":311.3333435058594,"wires":[["40c2fee0.15406"]]},{"id":"40c2fee0.15406","type":"function","z":"dc402d99.ace21","name":"","func":"msg.payload.result = \"ok\";\n\n//msg = new Buffer('hello world', 'utf8');\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":360,"wires":[["c8a88bcf.f48bc8","ce378e9c.4e92d","d67be898.4a30a8"]]},{"id":"c8a88bcf.f48bc8","type":"http response","z":"dc402d99.ace21","name":"","statusCode":"","headers":{},"x":410,"y":360,"wires":[]},{"id":"499c2986.297d78","type":"debug","z":"dc402d99.ace21","name":"LOG","active":true,"console":"false","complete":"payload","x":390,"y":480,"wires":[]},{"id":"ce378e9c.4e92d","type":"file","z":"dc402d99.ace21","name":"","filename":"/node-red-log.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":450,"y":400,"wires":[]},{"id":"d67be898.4a30a8","type":"function","z":"dc402d99.ace21","name":"","func":"msg.payload.date=Date();\nreturn msg;","outputs":1,"noerr":0,"x":171.16668701171875,"y":432,"wires":[["499c2986.297d78"]]},{"id":"381d1e7.854abe2","type":"http in","z":"dc402d99.ace21","name":"","url":"/clustersBase","method":"get","upload":false,"swaggerDoc":"","x":110,"y":600,"wires":[["a06b765f.fdd9e8"]]},{"id":"f2bc186a.2862f8","type":"http response","z":"dc402d99.ace21","name":"","statusCode":"","headers":{},"x":510,"y":600,"wires":[]},{"id":"f4111ff9.6809f","type":"debug","z":"dc402d99.ace21","name":"temp","active":true,"console":"false","complete":"payload","x":430,"y":1040,"wires":[]},{"id":"a830226a.423e9","type":"template","z":"dc402d99.ace21","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table border=\"1px\">\n    {{#payload.table}}\n    <tr>\n    <td>{{position}}</td>\n        <td>{{khash}}</td>\n            <td>{{mac}}</td>\n                <td>{{timeleft}}</td>\n                    <td>{{howoldkhash}}</td>\n    </tr>\n    {{/payload.table}}\n    </table>","output":"str","x":390,"y":600,"wires":[["f2bc186a.2862f8"]]},{"id":"6b0f6b6f.146134","type":"inject","z":"dc402d99.ace21","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":107.16667175292969,"y":1041.3333740234375,"wires":[["293ecb39.d52984"]]},{"id":"293ecb39.d52984","type":"http request","z":"dc402d99.ace21","name":"","method":"GET","ret":"obj","url":"https://api.coinmarketcap.com/v1/ticker/magi/","tls":"","x":270,"y":1040,"wires":[["f4111ff9.6809f","54334531.d09f0c"]]},{"id":"54334531.d09f0c","type":"file","z":"dc402d99.ace21","name":"","filename":"/XMGHistory.json.cvs","appendNewline":true,"createDir":false,"overwriteFile":"false","x":489.16668701171875,"y":1128.666748046875,"wires":[]},{"id":"c7367bc3.eb7638","type":"function","z":"dc402d99.ace21","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":301.16668701171875,"y":732,"wires":[["f15be963.e7ed58"]]},{"id":"f15be963.e7ed58","type":"template","z":"dc402d99.ace21","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div id=\"yo\" style=\"width:  100%;height:  100%\"></div>\n<script src=\"https://www.gstatic.com/charts/loader.js\">\ngoogle.charts.load('44', {\n  callback: drawBackgroundColor,\n  packages: ['corechart']\n});\n\nfunction drawBackgroundColor() {\n  var c = [\n    [new Date('3/16/2016'), 3],\n    [new Date('3/17/2016'), 5],\n    [new Date('3/18/2016'), 7],\n    [new Date('3/19/2016'), 9],\n  ];\n\n  var data = new google.visualization.DataTable();\n  data.addColumn('date', 'Date');\n  data.addColumn('number', 'Distance');\n\n  data.addRows(c);\n\n  var options = {\n    hAxis: {\n      title: 'Time'\n    },\n    vAxis: {\n      title: 'Popularity'\n    },\n    backgroundColor: '#f1f8e9'\n  };\n\n  var chart = new google.visualization.LineChart(document.getElementById('yo'));\n  chart.draw(data, options);\n}\n</script>\n\n","output":"str","x":477.16668701171875,"y":734,"wires":[["aaaea6ac.df1128"]]},{"id":"2bc267ff.1328d8","type":"http in","z":"dc402d99.ace21","name":"","url":"/graphBase","method":"get","upload":false,"swaggerDoc":"","x":115.16667175292969,"y":739.3333740234375,"wires":[["c7367bc3.eb7638"]]},{"id":"aaaea6ac.df1128","type":"http response","z":"dc402d99.ace21","name":"","statusCode":"","headers":{},"x":657.1666870117188,"y":738.6666870117188,"wires":[]},{"id":"26a8c1a9.7be56e","type":"inject","z":"dc402d99.ace21","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":652.1328125,"y":84.4375,"wires":[["56f58ac4.831a54"]]},{"id":"56f58ac4.831a54","type":"exec","z":"dc402d99.ace21","command":"HOME=\"/root\" git config --global user.email \"TashaSkyUp@gmail.com\"  && HOME=\"/root\"  ./gitpush.sh noderedupdate","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1147.1406555175781,"y":85.90625715255737,"wires":[["7f08e6cc.a955b8"],["7f08e6cc.a955b8"],["7f08e6cc.a955b8"]]}]