node-red/flows_orangepizero-0.json
[{"id":"94ef379f.1b3498","type":"tab","label":"Flow 1"},{"id":"8e50137e.a3666","type":"http in","z":"94ef379f.1b3498","name":"opi0cluster","url":"/opi0cluster","method":"get","upload":false,"swaggerDoc":"","x":60,"y":40,"wires":[["98d93672.514778"]]},{"id":"98d93672.514778","type":"function","z":"94ef379f.1b3498","name":"","func":"global.fun = [{0:\"a\"},{1:\"b\"}];\nif (global.fun === undefined){\n    msg.payload.fun = \"undefined\";\n}else{\n    msg.payload.fun = \"not undefined\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":40,"wires":[["5a472a8f.cdb954","eb336576.8df0c8"]]},{"id":"5a472a8f.cdb954","type":"http response","z":"94ef379f.1b3498","name":"","statusCode":"","headers":{},"x":310,"y":40,"wires":[]},{"id":"eb336576.8df0c8","type":"debug","z":"94ef379f.1b3498","name":"","active":true,"console":"false","complete":"false","x":330,"y":80,"wires":[]}]