node-red/flows_orangepizero-0.json
[{"id":"94ef379f.1b3498","type":"tab","label":"Flow 1"},{"id":"8e50137e.a3666","type":"http in","z":"94ef379f.1b3498","name":"opi0cluster","url":"/opi0cluster","method":"get","upload":false,"swaggerDoc":"","x":60,"y":40,"wires":[["98d93672.514778"]]},{"id":"98d93672.514778","type":"function","z":"94ef379f.1b3498","name":"","func":"function getNow(){\n    var d = new Date();\n    var n = d.getTime();\n    return n;    \n}\nvar timeoutdelayseconds =15;\nvar now = getNow();\nmsg.payload.fun = \"\";\n\n//take care of globals so we can work with locals\n    lTable = global.get(\"table\");\n    \n    if (lTable === undefined){\n        msg.payload.fun += \"undefined \";\n        lTable = [];\n        for (var i=0;i<255;i=i+1){\n            lTable[i] = {\"position\":i,\"mac\":\"default\",\"timeout\":now};\n        }\n        global.set(\"table\", lTable);\n    }else{\n        msg.payload.fun += \"defined \";\n    }\n    \nvar lTable = global.get(\"table\");\n\nfor (var i=0;i<255;i=i+1){\n    if (lTable[i].mac == msg.payload.register){\n        var use =i;\n        msg.payload.fun += \"already registered \";\n        break;\n    }\n    if (lTable[i].timeout <= getNow()){\n        use = i;\n        break;\n    }\n    \n}\n \nlTable[use].timeout = getNow()+(1000*timeoutdelayseconds);\nlTable[use].mac = msg.payload.register;\n\nglobal.set(\"table\", lTable);\n        \nmsg.payload.table = lTable;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":40,"wires":[["5a472a8f.cdb954","eb336576.8df0c8"]]},{"id":"5a472a8f.cdb954","type":"http response","z":"94ef379f.1b3498","name":"","statusCode":"","headers":{},"x":310,"y":40,"wires":[]},{"id":"eb336576.8df0c8","type":"debug","z":"94ef379f.1b3498","name":"","active":true,"console":"false","complete":"false","x":330,"y":80,"wires":[]},{"id":"4189746d.b325dc","type":"http in","z":"94ef379f.1b3498","name":"","url":"/monitor","method":"get","upload":false,"swaggerDoc":"","x":70,"y":220,"wires":[["7e0afc15.aaf9a4"]]},{"id":"aa21b470.6b3d68","type":"http response","z":"94ef379f.1b3498","name":"","statusCode":"","headers":{},"x":470,"y":220,"wires":[]},{"id":"7e0afc15.aaf9a4","type":"function","z":"94ef379f.1b3498","name":"","func":"lTable = global.get(\"table\");\n  if (lTable === undefined){\n     msg.payload.fun = \"undefined\"; \n  }else{\n    msg.payload.table = global.get(\"table\"); \n    }\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["29a45d55.0830f2","42c08ca1.ced414"]]},{"id":"29a45d55.0830f2","type":"debug","z":"94ef379f.1b3498","name":"","active":true,"console":"false","complete":"false","x":370,"y":260,"wires":[]},{"id":"42c08ca1.ced414","type":"template","z":"94ef379f.1b3498","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    {{#payload.table}}\n    <tr>\n    <td>{{mac}}</td>\n    </tr>\n    {{/payload.table}}\n    </table>","output":"str","x":350,"y":220,"wires":[["aa21b470.6b3d68"]]}]